<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    
</body>
</html>



<section id="show-page">
   
    <div>Airline:</div>
    <div><%= flight.airline %></div>
	<div>Airport:</div>
    <div><%= flight.airport %></div>
	<div>Flight No.:</div>
    <div><%= flight.flightNo %></div>
	<div>Departs:</div>
    <div><%= flight.departs %></div>
    <label>Destination
        <select name="destination">
            <option value='AUS'>AUS</option>
             <option value="DFW">DFW</option>
             <option value="DEN">DEN</option>
             <option value="LAX">LAX</option>
             <option value="SAN">SAN</option>

    </label>

    <label>Arrival Time</label>

    







</section>